.env

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*


# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out


# IDEs and editors
 IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# System Files
.DS_Store
Thumbs.db